@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'colors';

@font-face {
  font-family: Rubik;
  src: url(./assets/font/Rubik-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: Rubik, serif;
  color: white;
  background-color: $very-dark-blue;
}
